@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    padding: 0px;
    margin: 0px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* header */

header {
    padding: 5px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.brand-name {
    margin-left: 10%;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.brand-image {
    width: 100px;
}
#name {
    color: #0A122A;
}
#header-slogan {
    color: #414141;
    font-size: 14px;
}
.brand-name p {
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 1.4px;
    color: #0A122A;
}

.navbar {
    margin-right: 10%;
    color: #0A122A;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #0A122A;
    padding: 0px 25px;
    transition: all ease-in-out 0.1s;
}

.navbar a:hover {
    border-bottom: 1px solid #0A122A;
    font-weight: 600;
}
#userimage {
    margin-left: 10px;
}

/* header css end */
/* branding css */
.branding {
    height: 75vh;
    background-color: aqua;
    background: url('../assets/branding_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: center;
} 

.branding-container {
    margin: 50px;
    background-color: white;
    height: 80%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: white; */
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.branding-box {
    padding: 20px 30px;
}

.branding-box h1 {
    font-size: 24px;
    letter-spacing: 1.3px;
    font-weight: 600;
    padding-bottom: 6px;
    color:#0A122A
}

.branding-box p {
    margin-top: 6px;
    font-size: 18px;
    color: #0A122A;
}

#moreinfo {
    font-size: 16px;
    margin-top: 30px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 1.3px;
    line-height: 26px;
}

.login-signup-container {
    /* background-color: aquamarine; */
    padding: 50px 30px;
}

.login-signup-container a {
    text-decoration: none;
    color: #0A122A;
    background-color: #B2ECE1;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 10px;
}

#login-btn {
    color: white;
    background-color: #0A122A;
    transition: all 0.2s ease-in-out;
}

#login-btn:hover {
    color:#0A122A;
    background-color: #B2ECE1;
}

#signup-btn {
    color: #0A122A;
    background-color: #B2ECE1;
    transition: all 0.2s ease-in-out;
}

#signup-btn:hover {
    color:white;
    background-color: #0A122A;
}

/* branding css close */
/* best deals css open */
.best-deals-container {
    background-color: #B2ECE1;
    display: flex;
    flex-direction: column;
    height: 60vh;
}

.best-deals-title {
    text-align: center;
    padding: 35px 0px;
    font-size: 24px;
    letter-spacing: 2px;
}
.best-deals-title p {
    font-weight: bold;
}
.best-deals-box {
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.left-arrow {
    background-color: #0A122A;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0px 0px 20px;
}
.left-arrow a{
    text-decoration: none;
    color: white;
    padding: 0px 40px;
    font-size: 20px;
}

.deal-image {
    height: 100%;
    width: 30%;
    background: url("../assets/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.deal-info {
    height: 100%;
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.deal-title {
    padding: 20px 30px;
}
.deal-title h1{
    font-weight: 600;
}

.deal-description {
    padding: 0px 20px;
}

.purchase {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}
.purchase p {
    font-size: 20px;
}
.purchase a{
    text-decoration: none;
    background-color: #0A122A;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}
.purchase a:hover {
    color:#0A122A;
    background-color: #B2ECE1;
}

.right-arrow {
    background-color: #0A122A;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 20px 20px 0px;
}
.right-arrow a{
    text-decoration: none;
    color: white;
    padding: 0px 40px;
    font-size: 20px;
}
/* best deals css end */
/* products container css start */

.products-container {
    background-color: white;
    height: 80vh;
}

.products-title {
    text-align: center;
    padding: 35px 0px;
    font-size: 24px;
    letter-spacing: 2px;
}
.products-title p{
    font-weight: 600;
}

.products-box {
    /* background-color: #B2ECE1; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: row;
    flex-wrap: wrap;
}

.product {
    width: 15%;
    padding: 25px 30px;
    background-color: #0A122A;
    border-radius: 10px;
    border: 1px solid rgba(96, 96, 96, 0.2);
    color: white;
    margin: 20px;
}

.product-title {
    margin-bottom: 10px;
}
.product-image-box{
    width: 100%;
    margin-bottom: 10px;
}

.product-image {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
}
.product-image-box a{
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: white;
}

.product-purchase {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product-purchase p {
    font-size: 20px;
    font-weight: 600;
    color: #B2ECE1;
}

.product-purchase a{
    text-decoration: none;
    color: #0A122A;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all ease-in-out 0.2s;
}
.product-purchase a:hover {
    background-color: #B2ECE1;
}

.more-products-link {
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

/* products css end */
/* footer css starts  */
footer {
    margin-top: 70px;
    height: 40vh;
    background-color: #0A122A;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info {
    width: 50%;
}

.info-title {
    padding: 20px 30px;
    font-size: 30px;
}
.info-title p{
    font-weight: 700;
}
.contacts {
    padding: 20px 30px;
}

.about-us {
    padding: 20px 30px;
}

.logo {
    /* background-color: #B2ECE1; */
    margin-left: 30px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-image {
    width: 55%;
    border-radius: 10px;
}


/* footer css ends */

::-webkit-scrollbar {
    width: 5px;
    background-color: #B2ECE1;
}

::-webkit-scrollbar-thumb {
    background-color: #0A122A;
    border-radius: 2px;
}