<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/helpinhand.css')}}">
</head>
<body>
    <header>
        <div class="brand-name">
            <img class="brand-image" src="{{url_for('static',filename='/assets/logo.png')}}" alt="" id="logo">
            <div class="header-title">
                <h1 id="name">Raw-IT</h1>
                <p id="header-slogan">Crafting dream space</p>
            </div>
        </div>
        <div class="navbar">
            <a href="{{url_for('HomePage')}}">Home</a>
            <a href="{{url_for('ProductPage')}}">Products</a>
            <a href="{{url_for('AboutUsPage')}}">About Us</a>
            <a href="{{url_for('ContactPage')}}">Contact</a>
            <!-- <img src="{{userimage}}" id="userimage" width="40px" height="40px" alt=""> -->
            <!-- <p>{{username}}</p> -->
        </div>
    </header>

    <section class="helpers-container">
        <div class="helper-container">
            <div class="helper-box">
                <div class="title-container">
                    <h1>Pankaj Sharma</h1>
                </div>                
                <div class="info-container">
                    <div class="info-box">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni non soluta voluptatum, et consequuntur sed. At blanditiis dolor autem sunt neque veritatis, velit ab in laboriosam illo illum consequuntur inventore?</p>
                        <h3>Contact  no: 8137948122 | Plumber</h4>
                    </div>
                    <div class="button-container">
                        <a href="#"><button>Hire now</button></a>
                    </div>
                </div>
            </div>
            <div class="helper-box">
                <div class="title-container">
                    <h1>Atul Sharma</h1>
                </div>                
                <div class="info-container">
                    <div class="info-box">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni non soluta voluptatum, et consequuntur sed. At blanditiis dolor autem sunt neque veritatis, velit ab in laboriosam illo illum consequuntur inventore?</p>
                        <h3>Contact  no: 8137948122 | Electrician</h4>
                    </div>
                    <div class="button-container">
                        <a href="#"><button>Hire now</button></a>
                    </div>
                </div>
            </div>
            <div class="helper-box">
                <div class="title-container">
                    <h1>Prakhar Dixit</h1>
                </div>                
                <div class="info-container">
                    <div class="info-box">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni non soluta voluptatum, et consequuntur sed. At blanditiis dolor autem sunt neque veritatis, velit ab in laboriosam illo illum consequuntur inventore?</p>
                        <h3>Contact  no: 8137948122 | Carpenter</h4>
                    </div>
                    <div class="button-container">
                        <a href="#"><button>Hire now</button></a>
                    </div>
                </div>
            </div>
            <div class="helper-box">
                <div class="title-container">
                    <h1>Naman Jha</h1>
                </div>                
                <div class="info-container">
                    <div class="info-box">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni non soluta voluptatum, et consequuntur sed. At blanditiis dolor autem sunt neque veritatis, velit ab in laboriosam illo illum consequuntur inventore?</p>
                        <h3>Contact  no: 8137948122 | Electrician</h4>
                    </div>
                    <div class="button-container">
                        <a href="#"><button>Hire now</button></a>
                    </div>
                </div>
            </div>
            <div class="helper-box">
                <div class="title-container">
                    <h1>Anukrat Gupta</h1>
                </div>                
                <div class="info-container">
                    <div class="info-box">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni non soluta voluptatum, et consequuntur sed. At blanditiis dolor autem sunt neque veritatis, velit ab in laboriosam illo illum consequuntur inventore?</p>
                        <h3>Contact  no: 8137948122 | Plumber</h4>
                    </div>
                    <div class="button-container">
                        <a href="#"><button>Hire now</button></a>
                    </div>
                </div>
            </div>
            <div class="helper-box">
                <div class="title-container">
                    <h1>Abhijeet Chatterjee</h1>
                </div>                
                <div class="info-container">
                    <div class="info-box">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni non soluta voluptatum, et consequuntur sed. At blanditiis dolor autem sunt neque veritatis, velit ab in laboriosam illo illum consequuntur inventore?</p>
                        <h3>Contact  no: 8137948122 | Carpenter</h4>
                    </div>
                    <div class="button-container">
                        <a href="#"><button>Hire now</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>